<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.or
g/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="style/base.css" type="text/css" />
</head>
<body>
    <div class="document">
      <h1>Palfinder Galaxy Service</h1>

      <h2>About this service</h2>
      <p>Pal finder Galaxy is a service is provided by the Bioinformatics
	Core Facility and Research Computing teams at the University of
	Manchester in conjunction with the lab of Richard Preziosi at the
	University of Manchester
	(<a href="http://preziosilab.org">preziosilab.org</a>). This is a
	customised pre-configured Galaxy instance for implementing the
	method of microsatellite development described in Griffiths et al.
	(2016) (for full reference see below).</p>

      <h2>What you can do with this service</h2>
      <p>Users may:</p>
      <ul>
	<li>Create a user account</li>
	<li>Upload Illumina sequence data files</li>
	<li>Use example data files</li>
	<li>Run a microsatellite development pipeline using the following
	  programs within the Galaxy environment:
	  <ul>
	    <li>Fast QC</li>
	    <li>Trimmomatic</li>
	    <li>Pal_finder</li>
	    <li>Pal_filter</li>
	    <li>PANDA_seq</li>
	    <li>Primer3</li>
	  </ul>
	</li>
	<li>Download results files</li>
	<li>Store data for a maximum of {{ delete_datasets_after }}</li>
      </ul>

      <h2>Limitations</h2>
      <p>Accounts have a quota of <b>{{ default_quota_gb }} GB</b>. User
	accounts and any data uploaded or generated are automatically
	deleted after <b>{{ delete_datasets_after }}</b>. This is to
	prevent the build up of	large volumes of data onto our servers
	long-term. All outputs generated can be downloaded.</p>
      <p><b>By registering and using this service you agree to be bound by
	  the <a href="terms.html">terms and conditions</a></b>.</p>
      <p>You are advised to consult the user manual for detailed
	instructions and information.</p>

      <h2>Citing this service</h2>
      <p>Please cite the following if you use this service or the
	bioinformatics pipeline described for microsatellite development:</p>
      <ul>
	<li>Griffiths SM, Fox G, Briggs PJ, Donaldson IJ, Hood S,
	  Richardson P, Leaver GW, Truelove NK & Preziosi RF (2016)
	  A Galaxy-based bioinformatics pipeline for optimised, streamlines
	  microsatellite development from Illumina next-generation sequencing
	  data. Conservation Genetics Resources</li>
      </ul>
      <p>Citations for the programs in the pipeline:</p>

      <p><b>Pal_finder:</b><br/>
	Castoe T, Poole A, de Koning A (2012) Rapid microsatellite
	identification from Illumina paired-end genomic sequencing in two birds
	and a snake. PLoS One 7:e3095. doi: 10.1371/journal.pone.0030953.</p>

      <p><b>Primer3:</b><br/>
	Koressaar T, Remm M (2007) Enhancements and modifications of primer
	design program Primer3. Bioinformatics 23:1289–91.
	doi: 10.1093/bioinformatics/btm091<br/>
	Untergasser A, Cutcutache I, Koressaar T, Ye J, Faircloth BC, Remm M,
	Rozen SG (2012) Primer3 - new capabilities and interfaces. Nucleic
	Acids Res 40:e115. doi: 10.1093/nar/gks596</p>

      <p><b>PANDASeq:</b><br/>
	Masella AP, Bartram AK, Truszkowski JM, Brown DG, Neufeld JD
	(2012) PANDAseq: paired-end assembler for Illumina sequences.
	BMC Bioinformatics 13:31. doi: 10.1186/1471-2105-13-31</p>

      <p><b>Trimmomatic:</b><br/>
	Bolger AM, Lohse M, Usadel B (2014) Trimmomatic: a flexible trimmer
	for Illumina sequence data. Bioinformatics 30:2114-20. doi:
	10.1093/bioinformatics/btu170</p>

      <p><b>FastQC:</b><br/>
	Andrews S. (2010). FastQC a Quality Control Tool for High Throughput
	Sequence Data [Online]. Available online at:
	http://www.bioinformatics.babraham.ac.uk/projects/fastqc/</p>

      <p>Instructions for citing Galaxy can be found
	<a href="https://wiki.galaxyproject.org/CitingGalaxy">here</a> on the
	Galaxy website.</p>
    </div>
</body>
</html>
