<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.or
g/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="style/base.css" type="text/css" />
</head>
<body>
    <div class="document">
        <div class="donemessagelarge">
	  <h1>Welcome to Mintaka: tools for ChIP-seq workflows</h1>
	  <p>A Galaxy instance providing tools for ChIP-seq workflows
	    which have been developed by the Bioinformatics Core Facility
	    (BCF) at the University of Manchester</p>
	</div>
	<hr />

{% if mintaka_motd is defined and mintaka_motd %}
      <div class="infomessagelarge">
        {{ mintaka_motd }}
      </div>
      <hr />
{% endif %}

      <h2>About this service</h2>
      <p>"Mintaka" is a Galaxy service which is run by the Bioinformatics
	Core Facility (BCF) within the Faculty of Biology, Medicine and
	Health (FBMH) at the University of Manchester with support from
	the university's
	<a href="http://ri.itservices.manchester.ac.uk/">IT Services
	  Research Infrastructure Team</a>.</p>
      <p>It is a customised pre-configured Galaxy instance for providing
	access to tools developed by the BCF for ChIP-seq and motif
	discovery, which are not available in other public Galaxy
	services.</p>
      <p><b>Mintaka is running Galaxy version '{{ galaxy_version }}'</b></p>

      <h2>What you can do</h2>
      <p>Mintaka does *not* provide a full set of tools for performing a
	ChIP-seq analysis; it is intended to be used in conjunction with
	other Galaxy instances (for example Galaxy Main at
	<a href="https://usegalaxy.org/">https://usegalaxy.org/</a>).</p>
      <p>It is expected that you already have mapped reads, preferably in
	the BAM format (the compressed and indexed version of the SAM file
	output be most read aligners).</p>
      <p>A suggested workflow could consist of:</p>
      <ul>
	<li>FastQC (quality assessment of mapped reads)</li>
	<li>MACS2 (peak calling)</li>
	<li>Filtering of binding regions (by 'fold enrichment' using
	  Galaxy tools)</li>
	<li>RnaChipintegrator (identify the closest genes to each binding
	  region)</li>
	<li>CEAS (relative location of binding region summits to genes)</li>
	<li>fetching the sequence for binding region summits</li>
	<li>Weeder2 (motif discovery)</li>
      </ul>
      <p>The ChIP-seq pipeline using these tools has been described on our
	<a target="_blank" href="https://www.youtube.com/user/ManchesterBCF/videos">YouTube channel</a>:</p>
      <iframe width="560" height="315" align="center" src="https://www.youtube.com/embed/xHgtRltBgY8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <h2>Uploading data</h2>
      <p>Data files can be uploaded directly to the service via a web
	browser. In principle this should work for any size of file.</p>
      <p>Alternatively files can be uploaded via an FTP server at
	ftp://mintaka.ls.manchester.ac.uk (uploaded files will then
	be available for import via the Upload tool).</p>

      <h2>Limitations</h2>
      <p>Accounts have a quota of {{ default_quota_gb }} GB.</p>
      <p>Any data uploaded or generated are automatically deleted after
	{{ delete_datasets_after }} (to prevent the build up of large
	volumes of data onto our servers long-term).
      <p>As space is limited you are advised to run fastQC and MACS, and
	then delete the BAM files. Please ensure that you download all
	outputs that you wish to keep.</p>

      <h2>Contact</h2>
      <p>Please report problems to <a href="mailto:{{ galaxy_incoming_email_addr }}">{{ galaxy_incoming_email_addr }}</a></p>
    </div>
</body>
</html>
