# Configuration file for postfix to send activation emails,
# password resets etc
myhostname= {{ postfix_host_name }}
relayhost = {{ postfix_relay_host }}
inet_interfaces = localhost
mydestination = $myhostname, localhost.$mydomain, localhost
