<?xml version="1.0"?>
<job_conf>
    <plugins workers="4">
        <plugin id="local" type="runner" load="galaxy.jobs.runners.local:LocalJobRunner"/>
{% if enable_drmaa %}
        <plugin id="drmaa" type="runner" load="galaxy.jobs.runners.drmaa:DRMAAJobRunner"/>
{% endif %}
{% if enable_jse_drop %}
	<plugin id="jse_drop" type="runner" load="galaxy.jobs.runners.jse_drop_runner:JSEDropJobRunner">
	  <param id="drop_dir">{{ galaxy_jse_drop_dir }}</param>
	  <param id="virtual_env">{{ galaxy_jse_drop_virtual_env }}</param>
{% if galaxy_jse_drop_galaxy_id is defined %}
	  <param id="galaxy_id">{{ galaxy_jse_drop_galaxy_id }}</param>
{% endif %}
        </plugin>
{% endif %}
    </plugins>
    <!-- Remove "handlers" section removed for Galaxy 18.05 -->
    <destinations default="{{ galaxy_default_runner }}">
        <!-- Destinations define details about remote resources and how jobs
             should be executed on those remote resources.
         -->
        <destination id="local" runner="local">
	  <!-- Need to explicitly specify the virtualenv for production
	       setting, see
	       https://docs.galaxyproject.org/en/master/admin/framework_dependencies.html#galaxy-job-handlers
	  -->
          <env file="{{ galaxy_root }}/.venv/bin/activate" />
	</destination>
{% if galaxy_job_destinations %}
{% for dest in galaxy_job_destinations %}
        <destination id="{{ dest.id }}" runner="{{ dest.runner }}">
{% if dest.jse_drop_qsub_options is defined %}
          <param id="qsub_options">{{ dest.jse_drop_qsub_options }}</param>
{% endif %}
{% if dest.jse_drop_slots is defined %}
	  <param id="galaxy_slots">{{ dest.jse_drop_slots }}</param>
{% endif %}
{% if dest.envs is defined %}
{% for env in dest.envs %}
	  <env id="{{ env.id }}">{{ env.value }}</env>
{% endfor %}
{% endif %}
	</destination>
{% endfor %}
{% endif %}
    </destinations>
{% if galaxy_tool_destinations %}
    <tools>
{% for tool in galaxy_tool_destinations %}
      <tool id="{{ tool.id }}" destination="{{ tool.destination }}"/>
{% endfor %}
    </tools>
{% endif %}
    <limits>
        <limit type="registered_user_concurrent_jobs">{{ galaxy_registered_user_concurrent_jobs }}</limit>
        <limit type="unregistered_user_concurrent_jobs">{{ galaxy_unregistered_user_concurrent_jobs }}</limit>
        <limit type="job_walltime">24:00:00</limit>
        <limit type="concurrent_jobs" id="local">{{ galaxy_concurrent_jobs }}</limit>
    </limits>
</job_conf>
