<?xml version="1.0"?>
<job_conf>
    <plugins workers="4">
        <plugin id="local" type="runner" load="galaxy.jobs.runners.local:LocalJobRunner"/>
{% if enable_drmaa %}
        <plugin id="drmaa" type="runner" load="galaxy.jobs.runners.drmaa:DRMAAJobRunner"/>
{% endif %}
{% if enable_jse_drop %}
	<plugin id="jse_drop" type="runner" load="galaxy.jobs.runners.jse_drop_runner:JSEDropJobRunner" />
{% endif %}
    </plugins>
    <handlers default="handlers">
{% for handler_number in range(galaxy_handler_processes) %}
	<handler id="handler{{ handler_number }}" tags="handlers"/>
{% endfor %}
    </handlers>
    <destinations default="{{ galaxy_default_runner }}">
        <!-- Destinations define details about remote resources and how jobs
             should be executed on those remote resources.
         -->
        <destination id="local" runner="local">
	  <!-- Needed for 16.01
	       See https://docs.galaxyproject.org/en/master/admin/framework_dependencies.html#galaxy-job-handlers
	  -->
          <env file="{{ galaxy_root }}/.venv/bin/activate" />
	</destination>
{% for dest in galaxy_job_destinations %}
        <destination id="{{ dest.id }}" runner="{{ dest.runner }}">
{% if dest.runner == "jse_drop" and enable_jse_drop %}
	  <param id="drop_dir">{{ dest.jse_drop_dir }}</param>
	  <param id="virtual_env">{{ dest.jse_drop_virtual_env }}</param>
{% if dest.jse_drop_qsub_options is defined %}
          <param id="qsub_options">{{ dest.jse_drop_qsub_options }}</param>
{% endif %}
{% if dest.jse_drop_slots is defined %}
	  <param id="galaxy_slots">{{ dest.jse_drop_slots }}</param>
{% endif %}
{% endif %}
	</destination>
{% endfor %}
    </destinations>
    <tools>
{% for tool in galaxy_tool_destinations %}
      <tool id="{{ tool.id }}" destination="{{ tool.destination }}"/>
{% endfor %}
    </tools>
    <limits>
        <limit type="registered_user_concurrent_jobs">2</limit>
        <limit type="unregistered_user_concurrent_jobs">0</limit>
        <limit type="job_walltime">24:00:00</limit>
        <limit type="concurrent_jobs" id="local">2</limit>
    </limits>
</job_conf>
