# Nginx configuration for Galaxy
# See https://wiki.galaxyproject.org/Admin/Config/nginxProxy
#
# TODO
# - add compression/caching
#
# if using more than one upstream, disable nginx's round-robin
# scheme to prevent it from submitting POST requests more than
# once (this is unsafe)
proxy_next_upstream off;

{% if enable_https %}
server {
    listen 80;
    server_name {{ galaxy_server_name }};
    return 301 https://$host$request_uri;
}
{% endif %}
server {
    server_name {{ galaxy_server_name }};
{% if enable_https %}
    listen 443 ssl;
    ssl on;
    ssl_certificate     {{ ssl_certificate }};
    ssl_certificate_key {{ ssl_certificate_key }};
    # Disable SSLv3
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    # Use strong Diffie-Hellman group
    ssl_dhparam /etc/ssl/certs/dhparam.pem;
    # Validation directory for Let's Encrypt/certbot
    location ~ /.well-known {
        allow all;
    }
{% else %}
    listen 80 default;
{% endif %}
    client_body_temp_path {{ nginx_client_body_temp_path }};
    client_max_body_size {{ nginx_client_max_body_size }};
    # UWSGI settings
    uwsgi_temp_path /tmp/uwsgi;
    uwsgi_max_temp_file_size 1024k;
    uwsgi_read_timeout 600s;
    uwsgi_send_timeout 600s;
    # Additional locations (may be none)
{% if galaxy_nginx_extra_locations is not none %}
    {% for loc in galaxy_nginx_extra_locations %}
    location {{ loc.location }} {
        alias {{ loc.alias }};
        {% if loc.add_header is defined %}
        add_header {{ loc.add_header }};
        {% endif %}
    }
    {% endfor %}
{% endif %}
{% if enable_reports %}
    # Galaxy reporting interface
    location ^~ {{ galaxy_proxy_prefix }}/reports/ {
        uwsgi_pass 127.0.0.1:{{ galaxy_reports_uwsgi_socket }};
        uwsgi_param UWSGI_SCHEME $scheme;
        include uwsgi_params;
        auth_basic "Restricted";
        auth_basic_user_file {{ galaxy_reports_htpasswd }};
    }
{% endif %}
    # Galaxy server
    location {{ galaxy_proxy_prefix }}/ {
        uwsgi_pass 127.0.0.1:{{ galaxy_uwsgi_socket }};
        uwsgi_param UWSGI_SCHEME $scheme;
        include uwsgi_params;
    }
    # Serve static content
    location {{ galaxy_proxy_prefix }}/static {
        alias {{ galaxy_root }}/static;
        expires 24h;
    }
    location {{ galaxy_proxy_prefix }}/favicon.ico {
        alias {{ galaxy_root }}/static/favicon.ico;
        expires 24h;
    }
    location {{ galaxy_proxy_prefix }}/robots.txt {
        alias {{ galaxy_root }}/static/robots.txt;
        expires 24h;
    }
    # serve static content for visualization plugins
    location ~ ^{{ galaxy_proxy_prefix }}/plugins/visualizations/(?<vis_name>.+?)/static/(?<static_file>.*?)$ {
        alias {{ galaxy_root }}/config/plugins/visualizations/$vis_name/static/$static_file;
        expires 24h;
    }
{% if galaxy_proxy_prefix|default(None) != None %}
    # redirect /prefix -> /prefix/
    rewrite ^{{ galaxy_proxy_prefix }}$ {{ galaxy_proxy_prefix }}/ last;
{% endif %}
}
