<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.or
g/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="style/base.css" type="text/css" />
</head>
<body>
    <div class="document">
      <h1>Palfinder Galaxy Service</h1>

{% if palfinder_motd is defined and palfinder_motd %}
      <div class="infomessagelarge">
        {{ palfinder_motd }}
      </div>
{% endif %}

      <h2>About this service</h2>
      <p>Palfinder Galaxy is a service is provided by the Bioinformatics
	Core Facility and Research Computing teams at the University of
	Manchester in conjunction with the lab of Richard Preziosi at the
	University of Manchester
	(<a href="http://preziosilab.org" target="_">preziosilab.org</a>).
	This is a customised pre-configured Galaxy instance for implementing
	the method of microsatellite development described in Griffiths et al.
	(2016) (for full reference see below).</p>
      <p><b>By registering and using this service you agree to be bound by
	  the <a href="terms.html">terms and conditions</a></b>.</p>

      <h2>What you can do</h2>
      <p>Users may:</p>
      <ul>
	<li>Create a user account</li>
	<li>Upload Illumina sequence data files</li>
	<li>Use example data files</li>
	<li>Run a microsatellite development pipeline using the following
	  tools within the Galaxy environment:
	  <ul>
	    <li>FastQC</li>
	    <li>Trimmomatic</li>
	    <li>Pal_finder (also utilises Primer3, Pal_filter and PANDASeq)</li>
	  </ul>
	</li>
	<li>Download results files</li>
	<li>Store data for a maximum of {{ delete_datasets_after }}</li>
      </ul>
      <p>Please consult the <a href="{{ galaxy_url}}/manual">user manual</a>
	for detailed instructions and information.</p>

      <h2>Data upload</h2>
      <p>Files can be uploaded directly via your web browser using the
	<em>Upload File</em> option. This should work for any size of
	file.</p>

      <h2>Limitations</h2>
      <p>Accounts have a quota of <b>{{ default_quota_gb }} GB</b>.</p>
      <p>Any data uploaded or generated are automatically deleted after
	<b>{{ delete_datasets_after }}</b> (to prevent the build up of
	large volumes of data onto our servers long-term). Please ensure
	that you download all outputs that you wish to keep.</p>

      <h2>Citing this service</h2>
      <p>Please cite the following reference if you use this service or the
	bioinformatics pipeline described for microsatellite development:</p>
      <p>
      <ul>
	<li><b>Griffiths SM, Fox G, Briggs PJ, Donaldson IJ, Hood S,
	  Richardson P, Leaver GW, Truelove NK & Preziosi RF (2016)
	  A Galaxy-based bioinformatics pipeline for optimised, streamlined
	  microsatellite development from Illumina next-generation sequencing
	  data. Conservation Genetics Resources</b><br />
	  <a href="http://link.springer.com/article/10.1007/s12686-016-0570-7">doi:10.1007/s12686-016-0570-7</a>
	</li>
      </ul>
      </p>
      <p>Full information on citing this service can be found
	<a href="citations.html">here</a></p>

      <h2>Contact</h2>
      <p><a href="mailto:{{ galaxy_incoming_email_addr }}">{{ galaxy_incoming_email_addr }}</a></p>
    </div>
</body>
</html>
