<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="style/base.css" type="text/css" />
</head>
<body>
    <div class="document">
        <div class="donemessagelarge">
        	<!--<img src="http://golem.ls.manchester.ac.uk/galaxy/static/golem2.tif" />-->
    		<h1>Welcome to centaurus-dev</h1>
            	Galaxy for the University of Manchester at the Faculty of Life Sciences
        </div>
        <!--
        <img src="images/michael-smith-3web.jpg" alt="Michael Smith Building" style="display: block; margin-left: auto; margin-right: auto;" />
        -->
	<h2>About</h2>
	<p>Developement/testing version of version of Galaxy run by the
        Bioinformatics Core
	Facility for use by researchers within the University of Manchester.</p>
    </div>
</body>
</html>
