<?xml version="1.0"?>
<job_conf>
    <plugins workers="4">
        <plugin id="local" type="runner" load="galaxy.jobs.runners.local:LocalJobRunner"/>
{% if enable_drmaa %}
        <plugin id="drmaa" type="runner" load="galaxy.jobs.runners.drmaa:DRMAAJobRunner"/>
{% endif %}
{% if enable_jsedrop %}
	<plugin id="jse_drop" type="runner" load="galaxy.jobs.runners.jse_drop_runner:JSEDropJobRunner" />
{% endif %}
    </plugins>
    <handlers default="handlers">
	<handler id="handler0" tags="handlers"/>
    </handlers>
    <destinations default="{{ galaxy_default_runner }}">
        <!-- Destinations define details about remote resources and how jobs
             should be executed on those remote resources.
         -->
        <destination id="local" runner="local">
	  <!-- Needed for 16.01
	       See https://docs.galaxyproject.org/en/master/admin/framework_dependencies.html#galaxy-job-handlers
	  -->
          <env file="{{ galaxy_root }}/.venv/bin/activate" />
	</destination>
{% if enable_jsedrop %}
	<destination id="jse_drop" runner="jse_drop">
	  <param id="drop_dir">{{ galaxy_jse_drop_dir }}</param>
	  <param id="virtual_env">{{ galaxy_jse_drop_virtual_env }}</param>
{% if galaxy_jse_drop_qsub_options %}
	  <param id="qsub_options">{{ galaxy_jse_drop_qsub_options }}</param>
{% endif %}
{% if galaxy_jse_drop_slots %}
	  <param id="galaxy_slots">{{ galaxy_jse_drop_slots }}</param>
{% endif %}
	</destination>
{% endif %}
    </destinations>
    <tools>
    </tools>
    <limits>
        <limit type="registered_user_concurrent_jobs">2</limit>
        <limit type="unregistered_user_concurrent_jobs">0</limit>
        <limit type="job_walltime">24:00:00</limit>
        <limit type="concurrent_jobs" id="local">2</limit>
    </limits>
</job_conf>
