# Nginx configuration for Galaxy
# See https://wiki.galaxyproject.org/Admin/Config/nginxProxy
#
# TODO
# - add SSL
# - add compression/caching
#
# if using more than one upstream, disable nginx's round-robin
# scheme to prevent it from submitting POST requests more than
# once (this is unsafe)
proxy_next_upstream off;

upstream reports {
    server localhost:9001;
}
{% if enable_https %}
server {
    listen 80;
    server_name {{ galaxy_server_name }};
    return 301 https://$host$request_uri;
}
{% endif %}
server {
    server_name {{ galaxy_server_name }};
{% if enable_https %}
    listen 443 ssl;
    ssl on;
    ssl_certificate     {{ ssl_certificate }};
    ssl_certificate_key {{ ssl_certificate_key }};
    # Validation directory for Let's Encrypt/certbot
    location ~ /.well-known {
        allow all;
    }
{% else %}
    listen 80 default;
{% endif %}
    client_max_body_size 10G;
    uwsgi_read_timeout 180;
    # User manual
    location ^~ /manual {
        alias /usr/share/nginx/html/manual;
        add_header Content-Type application/pdf;
    }
    # Galaxy reporting interface
    location ^~ /reports/ {
        proxy_pass  http://reports;
        proxy_set_header   X-Forwarded-Host $host;
        proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
        proxy_set_header   X-URL-SCHEME https;
        auth_basic "Restricted";
        auth_basic_user_file {{ galaxy_reports_htpasswd }};
    }
    # Galaxy server
    location / {
        uwsgi_pass 127.0.0.1:4001;
        uwsgi_param UWSGI_SCHEME $scheme;
        include uwsgi_params;
    }
    # serve static content for visualization plugins
    location ~ ^/plugins/visualizations/(?<vis_name>.+?)/static/(?<static_file>.*?)$ {
        alias {{ galaxy_root }}/config/plugins/visualizations/$vis_name/static/$static_file;
    }
    # Serve static content
    location /static {
        alias {{ galaxy_root }}/static;
    }
    location /static/style {
        alias {{ galaxy_root }}/static/style/blue;
    }
    location /static/scripts {
        alias {{ galaxy_root }}/static/scripts/packed;
    }
    location /favicon.ico {
        alias {{ galaxy_root }}/static/favicon.ico;
    }
    location /robots.txt {
        alias {{ galaxy_root }}/static/robots.txt;
    }
}
