# Nginx configuration for Galaxy
# See https://wiki.galaxyproject.org/Admin/Config/nginxProxy
#
# TODO
# - add SSL
# - add compression/caching
#
# if using more than one upstream, disable nginx's round-robin
# scheme to prevent it from submitting POST requests more than
# once (this is unsafe)
proxy_next_upstream off;
server {
    server_name {{ galaxy_server_name }};
    listen 80 default;
    client_max_body_size 10G;
    uwsgi_read_timeout 180;
    location / {
        uwsgi_pass 127.0.0.1:4001;
        uwsgi_param UWSGI_SCHEME $scheme;
        include uwsgi_params;
    }
    # serve static content for visualization plugins
    location ~ ^/plugins/visualizations/(?<vis_name>.+?)/static/(?<static_file>.*?)$ {
        alias {{ galaxy_root }}/config/plugins/visualizations/$vis_name/static/$static_file;
    }
    # Serve static content
    location /static {
        alias {{ galaxy_root }}/static;
    }
    location /static/style {
        alias {{ galaxy_root }}/static/style/blue;
    }
    location /static/scripts {
        alias {{ galaxy_root }}/static/scripts/packed;
    }
    location /favicon.ico {
        alias {{ galaxy_root }}/static/favicon.ico;
    }
    location /robots.txt {
        alias {{ galaxy_root }}/static/robots.txt;
    }
}