# Configuration file for postfix to send activation emails,
# password resets etc
myhostname= {{ galaxy_server_name }}
relayhost = {{ smtp_relay_host }}
inet_interfaces = localhost
mydestination = $myhostname, localhost.$mydomain, localhost
